<!-- app/views/bookings/wizard/select_datetime.html.erb -->

<h2>Select Date and Time</h2>

<%= form_for @booking, url: wizard_booking_path(@booking, step: step), method: :put do |f| %>
  <div class="field">
    <%= f.label :date, "Preferred Date" %><br>
    <%= f.date_field :date, required: true %>
  </div>

  <div class="field">
    <%= f.label :time, "Preferred Time" %><br>
    <%= f.time_field :time, required: true %>
  </div>

  <div class="actions">
    <%= link_to "Back", previous_wizard_path(@booking) %>
    <%= f.submit "Next" %>
  </div>
<% end %>
