<div class="menu-section">
  <h3>Menu Offerings</h3>
  <div class="menu-items">
    <% @chef_profile.menu_items.each do |menu_item| %>
      <div class="menu-item">
        <h4 class="menu-item-name"><%= menu_item.name %> - <%= number_to_currency(menu_item.price) %></h4>
        <p class="menu-item-description"><%= menu_item.description %></p>
        <% if menu_item.image.attached? %>
          <%= image_tag url_for(menu_item.image.variant(resize_to_limit: [300, 300])), class: "menu-item-image" %>
        <% else %>
          <%= image_tag 'default_image.png', class: "menu-item-image" %>
        <% end %>
        <% if current_user == @chef_profile.user %>
          <%= link_to "Edit", edit_chef_profile_menu_item_path(@chef_profile, menu_item), class: "button-secondary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="menu-actions">
  <% if current_user == @chef_profile.user %>
    <%= link_to "Add Menu Item", new_chef_profile_menu_item_path(@chef_profile), class: "button-secondary" %>
  <% end %>
</div>
