<div class="profile-header">
  <div class="profile-image">
    <% if @chef_profile.user.respond_to?(:avatar) && @chef_profile.user.avatar.present? %>
      <%= image_tag @chef_profile.user.avatar.url, alt: @chef_profile.user.name %>
    <% else %>
      <%= image_tag "default_avatar.png", alt: @chef_profile.user.name %>
    <% end %>
  </div>
  <div class="profile-info">
    <h2 class="profile-name">
      <%= @chef_profile.user.name %>
      <span class="profile-role">Chef</span>
    </h2>
    <p class="profile-specialty">Specialty: <%= @chef_profile.specialty %></p>
    <p class="profile-bio"><%= @chef_profile.bio %></p>
  </div>
</div>
