<h1>Create a Chef Profile</h1>
<%= form_with(model: @chef_profile, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>
  <div>
    <%= form.submit "Create Profile" %>
  </div>
<% end %>
