<!-- app/views/chef_profiles/show.html.erb -->

<div class="chef-profile">
  <div class="main-content">
    <!-- Profile Header -->
    <div class="profile-section">
      <div class="back-section">
        <%= link_to root_path, class: "back-button" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        <%= link_to root_path, class: "back-button" do %>
          <i class="fas fa-calendar"></i>
        <% end %>
        <%= link_to root_path, class: "back-button" do %>
          <img src="<%= asset_path('gusto_logo.png') %>" alt="Gusto Logo" style="height: 30px; width: auto;">
        <% end %>
         <%= link_to root_path, class: "back-button" do %>
          <i class="fas fa-share-alt"></i>
        <% end %>
      </div>
  
      <%= render 'profile_header', chef_profile: @chef_profile %>
    </div>

    <!-- Menu Section -->
    <div class="menu-section">
      <%= render 'menu_section', chef_profile: @chef_profile %>
    </div>

    <!-- Booking Section -->
    <div class="booking-section">
      <%= render 'chef_profiles/booking_button', chef_profile: @chef_profile %>
    </div>
  </div>

  <div class="sidebar">
    <!-- Reviews Summary -->
    <%= render 'reviews_section', chef_profile: @chef_profile %>

    <!-- Wallet Card -->
    <%= render 'wallet_card', chef_profile: @chef_profile %>

    <!-- Stats Card -->
    <%= render 'chef_profiles/stats_card', chef_profile: @chef_profile %>
  </div>
</div>
